/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .gravatar{
  border-radius: 50px;
  float: left;
  margin-left: 20px;
 }
.name{
  color: white;
  background-color: black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
  padding: 10px;
  width: 150px;
}
 .computer p{
  float: left;
  background-color: red;
  border-radius: 20px;
  color: white;
  margin-left: 40px;
  text-align: center;
  margin-top: -57px;
  padding: 3px;
 }
 .computer{
  width: 100px;
  height: 70px;
  float: left;
  margin-top: 20px;
 }
 .add{
  background-color: #04AEDA;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
 }

.new{
  width: 300px;
  margin-left: 300px;
  
}
.tableo{
  float: right;
}

.right{
  float: right;
  cursor: pointer;
  }
.newy{
  width: 400px;
  top: 0;
  background-color: black;
  color: white;
  padding: 30px;
  position: fixed;
  z-index: 1;
  margin-left: 300px;
  display: none;
}
.pad{
  margin-left: 50px;
}
.bty{
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;}